<div class="panel-heading">
	<%= ans.question.question %><br>
</div>
<div class ="panel-body">
	<%=form_for ans,:url => {:controller => "papers", :action => "submit"},:remote => true do |f|%>
		
		<%=f.hidden_field :question_id %>	
		<%= hidden_field_tag "page", @questions.current_page+1 %>
		<% current_page = params[:page].to_i %>
		<% if ans.question.q_type == "MAQ" %>	
			<% ans.question.options.each do |option| %>
				<div class="form-group">
	     		<%= check_box_tag "answer[option_ids][]", option.id, false, id:"answeroption_option_ids_#{option.id}" %>
	     		<%= f.label option.option,:class=>"option" %>
		    </div>
		  <% end %>  
		<%else%>
			<% ans.question.options.each do |option| %>
				<div class="form-group">
		      <%= radio_button_tag "answer[option_ids][]", option.id, false %>
		    	<%= f.label option.option,:class=>"option"  %>
		  	</div>
		  <% end %>  
		<%end%>
			<%if @paper.questions.count == current_page%>
				<%= link_to "submit",submit_test_path(@paper)%>
			<%elsif answer?(ans.question.id)%>
				<%=f.submit :submit,class: "submit"%><br>
			<%else%>
				<%=f.submit :submit,class: "submit",disabled: true%>
			<%end%>
	<%end%>	
</div>	











