<div class="panel-heading">
<div class="pull-right">	
	<h1 class='timer' data-minutes-left = <%= @answer.question.duration/60%> ></h1>
</div>
	<%= @answer.question.question %><br>
</div>
<div class ="panel-body">
	<%=form_for @answer,:url => {:controller => "papers", :action => "submit"} do |f|%>
		
		<%=f.hidden_field :question_id %>	
		<% if @answer.question.q_type == "MAQ" %>	
			<% @answer.question.options.each do |option| %>
				<div class="form-group">
	     		<%= check_box_tag "answer[option_ids][]", option.id, false, id:"answeroption_option_ids_#{option.id}" %>
	     		<%= f.label option.option,:class=>"option" %>
		    </div>
		  <% end %>  
		<%else%>
			<% @answer.question.options.shuffle.each do |option| %>
				<div class="form-group">
		      <%= radio_button_tag "answer[option_ids][]", option.id, false %>
		    	<%= f.label option.option,:class=>"option"  %>
		  	</div>
		  <% end %>  
		<%end%>
			<%if @questions.count==1 %>
				<%=f.submit "Final Submit",class: "submit"%><br>
			<%else%>
				<%=f.submit :submit, class: "submit"%><br>
			<%end%>
	<%end%>	
</div>	
<script type="text/javascript">
		$('.timer').startTimer({
		 	onComplete: function(element){
	 			$(".submit").click();
			}
		})
</script>

