<center><h1><b>Result</b></h1></center>
<hr>
<h2><b><%=@result.first.user.fname.capitalize+" "+@result.first.user.lname.capitalize%></b></h2>
<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Paper</th>
			<th>Marks</th>
			<th>Passing Marks</th>
			<th>Status</th>
		</tr>	
	</thead>
	<tbody>
		<%@result.each do |result|%>
			<tr>
				<td><%=result.paper.name%></td>
				<td><%=result.score%>/<%=result.paper.marks%></td>
				<td><%=result.paper.marks/2%>/<%=result.paper.marks%></td>
				<%if result.score < result.paper.marks/2%>
					<td><b>Fail (<%=(result.score*100)/result.paper.marks%>)%</b></td>
				<%else%>
					<td><b>Pass (<%=(result.score*100)/result.paper.marks%>)%</b></td>
				<%end%>	
			</tr>
		<%end%>	
	</tbody>
</table>	
<%=link_to "Back",admin_users_path,:class => 'btn btn-default btn-sm-7'%>