<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.fname+" "+@user.lname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>
<%if @user.results !=[]%>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Paper</th>
        <th>Marks</th>
        <th>Passing Marks</th>
        <th>Status</th>
        <th>Action</th>
      </tr> 
    </thead>
    <tbody>
      <%@result.each do |result|%>
        <tr>
          <td><%=link_to result.paper.name,[:admin,result.paper]%></td>
          <td><%=result.score%>/<%=result.paper.marks%></td>
          <td><%=result.paper.marks/2%>/<%=result.paper.marks%></td>
          <%if result.score < result.paper.marks/2%>
            <td><b>Fail (<%=(result.score*100)/result.paper.marks%>)%</b></td>
          <%else%>
            <td><b>Pass (<%=(result.score*100)/result.paper.marks%>)%</b></td>
          <%end%> 
          <td><%=link_to "detail",result_admin_user_path(result)%></td>
        </tr>
      <%end%> 
    </tbody>
  </table>  
<%end%>
<%=link_to "Back",:back,:class => 'btn btn-default btn-sm-7'%>

  


